
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title>Students Enrolled</title>

</head>
<body>
  <a href="/students">Students Enrolled List</a>

  <nav>
    <p></p>
  </nav>
  <%= yield %>


</body>
</html>
